{% extends "base.html" %}

{% block title_header %} 
<title>Navegadores</title>
{% endblock title_header %}

{% block h1_header %}
Navegadores
{% endblock h1_header %}


{% block main %}
{% comment %} 
<form action="">
    <input type="text" name='nombre'>
    <input type="submit" value="Buscar">
</form> {% endcomment %}
<p>
<a href={% url "crear_navegador" %}> Crear nuevo Navegador</a>
</p>
<ul>
{% if listado_navegadores %}
    {% for navegadores in listado_navegadores %}
    <li>
        {{navegadores}} <a href={% url "editar" navegadores.id %}>Editar</a> | <a href={% url "eliminar" navegadores.id %}>Eliminar</a> || <a href={% url "detalle" navegadores.id %}>Ver mas...</a>
    </li> 
    {% endfor %} 

</ul>
{% else %}
<p>No se encontraron navegadores</p>
{% endif %}

{% endblock main %}